@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,900);
html,body {
	margin:0;
	padding:0;
}
a, a:link, a:visited {
	text-decoration:none;
	color:#000000;
}
a:hover {
	text-decoration:underline;
}
body {
	background:url('http://tympanus.net/Development/MultiLevelPhotoMap/images/cubes.png');
	font-family:Raleway;
	color:#555;
}
h1, h2, h3, h4, h5 {
	font-weight:300;
}
#header-wrapper {
	background:#FFF;
	border-bottom:7px solid #26AA4E;
}
#header {
	display:block;
	max-width:1024px;
	min-width:850px;
	margin:0 auto;
}
.rowbtn {
	background:#26AA4E;
	color:#FFF;
	padding:1em;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	display: inline-block;
	margin-top:-18px;
}
.note {
	background:#ffff00;
	color:#444;
	padding:1em;
	width:90%;
	margin:0 auto;
	border:1px solid #000000;
	border-radius:3px;
}
#header h1 {
	color:#26AA4E;
	margin-left:-10px;
	display:inline-block;
}
h2 span {
	font-weight:900;
}
h2 {
	font-size:2.5em;
}
tspan {
	font-size:1.3em;
}
h3 {
	font-size:1.3em;
	text-align:left;
	color: #274b6d;
	font-weight:400;
}
summary, section {
	padding:1em 0;
	border-bottom:2px solid #26AA4E;
}
tspan {
	font-family:Raleway;
}
summary h2 {
	color:#226599;
}
#header h1 {
	cursor: default;
}
.logo {
	display:inline-block;
	float:right
}
.logo img{
	margin-top:25px;
	margin-bottom:-10px;;
}
#content-wrapper {
	max-width:1024px;
	min-width:850px;
	margin:0 auto;
}
input {
    padding:10px;
}
table input {
	width:80%;
	text-align:center;
}
table th{
	text-align:left;
}
